*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-inline-size: 66ch;
  /*line width*/
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/*Ç*/
p {
  width: clamp(45ch, 50%, 75ch);
}

#root,
#__next {
  isolation: isolate;
}

li {
  list-style: none;
}